body {
  font-family: sans-serif;
  background: #f9f9f9;
  margin: 40px;
}

.container {
  max-width: 1000px;
  margin: auto;
}

label, select, button {
  margin: 10px 10px 10px 0;
}

#plot {
  margin-top: 30px;
  width: 100%;
  height: 600px;
}
